*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* box-sizing: border-box;
    margin: 0; */
    background-image: URL("img/cryptocurrency.png"); 
    
}
nav{
    margin: 0;
    background-color:#19889C;
    display: flex;
    flex-direction: row ;
    height: 100px;
    
}
ul{
    display:flex;
    flex-direction: row ;

    /* margin-top: -6px; */

}


.navbar-container{
    border:solid 3px black,;
    border-radius: 20;}

.navbar-item{

    text-decoration:none;
    align-items: center;
    /* justify-content: center; */
    
    padding-top: 30px;
    padding-right:25px;
    padding-left:25px;
    list-style: none;
    font-size: 25px;

}
.navbar-item:hover{
    /* margin-top: 20px; */
/* padding: 20px; */
padding-top: 32px;
    height: 100px;
    color: white;
    background-color: darkblue;
}
#middle{
    margin-top: 5px;
    position: relative;
    margin-left: 10vw;
    list-style: none;
    font-size: 20px;
    
    
    text-decoration:none;
}
#left{
    text-decoration:none;
    position: relative;
    list-style: none;
    /* height: 90px; */
    margin-left: 10vw;
    /* padding: 5px; */
    /* margin-top: 15px; */


}
.content {
    padding: 16px;
  }
  
  
  .navbar-container + .content {
    padding-top: 60px;
    
  }
.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar-link:link {
    text-decoration: none;
    color: rgb(186, 173, 173);
  }
  
  .navbar-link:visited {
    color: rgb(186, 173, 173);
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:active {
    color: white;
    text-decoration: none;
  }
  
#left2{
    /* margin-top:30px; */
    margin-left:50px;
    position: relative;
    /* height: 30px; */
    /* margin-left: 45vw; */
}
/* #password{

} */
#login_continer{
    padding: 50px;
    margin-top: 20vh;
    margin-left: 37vw;
    margin-right: 37vw;
    color: rgb(246, 235, 137);
    background-color: #12101cbe;
    border: 2px solid #19889C;  
    border-radius: 20px;;
    color: white;
    /* background-color: rgba(229, 109, 11, 0.7); */
    /* background-color: rgba(240, 128, 128, 0.808); */
}
#signup_continer{
    padding: 50px;
    color: white;
    display: block;
    margin-top: 20vh;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #12101cbe;
    border: 2px solid #19889C;  
    border-radius: 20px;;
}
#transaction_container{
    
    padding: 50px;
    color: white;
    display: block;
    margin-top: -50px;
    margin-left: 37vw;
    margin-right: 37vw;
    background-color: #12101cbe;
    border: 2px solid #19889C;  
    border-radius: 20px;;
}
    #flex_container{
    display: flex;
    padding-top: 10px;
    padding: 50px;
    margin-top: 50px;
    width: 95vw;
    height: 250px;
    gap: 10px;
    color: #0a0a0a;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    

    /* border: solid black 1px; */

    }
#body{
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    background-color: rgba(58, 107, 112, 0.7);
}
.display{
    display: flex;
    flex-direction: row;
    border: solid rgb(66, 66, 66) 2px;
    background-color: #19889C;
    border-radius: 4%;
    padding: 20px;

}
.transaction{
    
    margin-bottom: 20px;
    /* display: flex; */ 
    padding:10px;
    margin: 5px;
    
}
/*  */
    .body{
    height: 97vh;
    width: 99vw;
    /* border: solid 50px; */
    background-color: rgba(7, 7, 7, 0.7);
} */
#dontdisplay{
display: none;
}
.navbar-menu{
    border:solid 500px black,;
    border-radius: 20;
    /* margin-bottom: -55px; */
}