body{
    box-sizing: border-box;
    margin: 0;
}
nav{
    margin: 0;
    background-color:  lightblue;
    display: flex;
    flex-direction: row ;
}
ul{
    display:flex;
    flex-direction: row ;

    /* margin-top: -6px; */

}
li{
    display: flex;
    /* padding: 50px; */
    text-decoration:none;
     align-items: center;
    justify-content: center;
    margin-top: -6px;
    margin-bottom:-23px;
}
div{
    position: relative;
}
.navlink{
    margin-top: -30px;
    margin-bottom: -17px;
    padding:20px;
    text-decoration:none;
    background-color: lightblue;
    /* align-items: center; */
    /* justify-content: center;*/
}
a:hover{
    color: black;
    background-color: antiquewhite;
}
#middle{
    margin-top: -15px;
    position: relative;
    margin-left: 10vw;
}
#left{
    position: relative;
    /* height: 90px; */
    margin-left: 10vw;
    /* padding: 5px; */
    /* margin-top: -50px; */


}
#left2{
    /* margin-top:30px; */
    margin-left:50px;
    position: relative;
    /* height: 30px; */
    /* margin-left: 45vw; */
}
.navbar-item{
    height:55px ;
}
/* #password{

} */
