/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
html, body{
    box-sizing: border-box;
    margin: 0;
    background-image: URL("img/cryptocurrency.png");

}
nav{
    margin: 0;
    background-color:  lightblue;
    display: flex;
    flex-direction: row ;
}
ul{
    display:flex;
    flex-direction: row ;

    /* margin-top: -6px; */

}

.navbar-menu{
    margin-bottom: -55px;
}
.navbar-item{
    margin-top: -30px;
    margin-bottom: -16px;
    padding:25px;
    text-decoration:none;
    background-color: lightblue;
    display: flex;
    /* padding: 50px; */
    text-decoration:none;
     align-items: center;
    justify-content: center;


    /* margin-top: -6px; */
    /* margin-bottom:-35px; */
    /* align-items: center; */
    /* justify-content: center;*/
}
.navbar-item:hover{
    color: black;
    background-color: antiquewhite;
}
#middle{
    margin-top: -15px;
    position: relative;
    margin-left: 10vw;
    list-style: none;
    text-decoration:none;
}
#left{
    position: relative;
    /* height: 90px; */
    margin-left: 10vw;
    /* padding: 5px; */
    /* margin-top: -50px; */


}
#left2{
    /* margin-top:30px; */
    margin-left:50px;
    position: relative;
    /* height: 30px; */
    /* margin-left: 45vw; */
}
/* #password{

} */
#login_continer{
    padding: 50px;
    margin-top: 20vh;
    margin-left: 37vw;
    margin-right: 37vw;
    color: white;
    background-color: #12101cbe;
    border: 2px solid #19889C;
    border-radius: 20px;;
    /* background-color: rgba(229, 109, 11, 0.7); */
    /* background-color: rgba(240, 128, 128, 0.808); */
}
#signup_continer{
    padding: 50px;
    color: white;
    display: block;
    margin-top: 20vh;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #12101cbe;
    border: 2px solid #19889C;
    border-radius: 20px;;
}

#flex_container{
display: flex;
width: 100vw;
height: 100px;
gap: 5px;
justify-content: center;
/* flex-direction: row; */
border: solid black 1px;

}
#body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(58, 107, 112, 0.7);
}
.display{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
}
